body{
    background-color: #eceff1;
}

.blerb{
    padding-bottom: 1em !important;
    font-size: 30px;
}

table{
    background-color: #d7ccc8;
    margin-bottom: 1em;
}

strong{
    font-weight: 900;
}

figcaption {
    text-align: center;
}

.card-title{
    text-align: center;
}

.list{
    list-style-type: square !important;
    margin-left: 2em;
    padding-left: 2em;
}
.list-2{
    list-style-type: circle !important;
    margin-left: 2em;
    padding-left: 2em;
}
.list-3{
    list-style-type: disc !important;
    margin-left: 2em;
    padding-left: 2em;
}
.ecc{
    font-weight: bolder;
    font-size: large;
}

.d-name{
    font-size: 28px;
}
.d-number{
    font-size: 24px;
}
.d-details{
    font-size: 16px;
}
.public{
    background-color: #cddc39;
}
.forbiden{
    color: #f44336;
}

.breadcrumb-container{
    width: 100%;
    background-color: #f8f8f8;
    border-bottom-color: 1px solid #f4f4f4;
    list-style: none;
    margin: 4px 0px 4px 0px;
    min-height: 25px;
    box-shadow: 0 3px 0 rgba(60, 57, 57, .2)
}

.breadcrumb-container li {
    display: inline
}
.breadcrumb {
    font-size: 12px;
    padding-top: 3px
}
.breadcrumb>li:last-child:after {
    content: none
}

.breadcrumb>li:last-child {
    font-weight: 700;
    font-style: italic
}
.breadcrumb>li>i {
    margin-right: 3px
}

.breadcrumb>li:after {
    font-family: FontAwesome;
    content: "\f101";
    font-size: 11px;
    margin-left: 3px;
    margin-right: 3px
}
.breadcrumb>li+li:before {
    font-size: 11px;
    padding-left: 3px
}